@import "suitcss-components-button";
@import "../../styles/theme.css";



/** @define Button */

:root {
  --Button-border-color: currentcolor;
  --Button-border-width: 0;
  --Button-color: inherit;
  --Button-disabled-opacity: 0.6;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
  --Button-border-radius: 0;
}

.Button {
  background: var(--color-deep-blue);
  border-radius: var(--Button-border-radius);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.Button:focus {
  outline: 0;
}

/**
 * Modifier: default buttons
 */

.Button--default {
  background-color: var(--color-medium-gray);
  color: var(--Button-color);
}

.Button--default:hover,
.Button--default:focus {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.Button--default:active,
.Button--default.is-pressed {
  background-color: #ccc;
}

.Button--primary {
  background: var(--color-brand-primary5);
  color: var(--Button-color);
}

.Button--danger {
  background-color: var(--color-light-red);
  color: var(--Button-color);
}

.Button--danger:hover,
.Button--danger:focus {
  background-color: var(--color-deep-red);
}

.Button--danger:active,
.Button--danger.is-pressed {
  background-color: var(--color-dark-red);
}

/**
 * Modifier: large buttons
 */

.Button--large {
  font-size: 1.5em;
  padding: 0.75em 1.5em;
}

/**
 * Modifier: small buttons
 */
.Button--small {
  font-size: 0.75em;
  padding: 0.5em 1em;
}
