@import "styles/theme.css";

/** @define Button */

:root {
    --Button-border-color: currentcolor;
    --Button-border-width: 1px;
    --Button-color: inherit;
    --Button-disabled-opacity: 0.6;
    --Button-font: inherit;
    --Button-padding: 0.4em 0.75em;
    --Button-border-radius: 2px;
}

.Button {
    background: var(--color-deep-blue);
    border-radius: var(--Button-border-radius);
}

.Button + .Button {
    margin-left: .3em;
}

/**
 * Modifier: default buttons
 */

.Button--default {
    background-color: var(--color-medium-gray);
    color: var(--Button-color);
    border-color: var(--color-dark-gray);
}

.Button--default:hover,
.Button--default:focus,
.Button--default:active,
.Button--default.is-pressed {
    background-color: var(--color-gray);
    border-color: var(--color-medium-gray);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Button--default:focus {
    border-color: #069;
    outline: 0;
}

.Button--default:active,
.Button--default.is-pressed {
    background-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0, 0.2);
}

.Button--danger {
    background-color: var(--color-light-red);
    color: var(--Button-color);
    border-color: var(--color-dark-red);
}

.Button--danger:hover,
.Button--danger:focus,
.Button--danger:active,
.Button--danger.is-pressed {
    background-color: var(--color-deep-red);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Button--danger:focus {
    border-color: #069;
    outline: 0;
}

.Button--danger:active,
.Button--danger.is-pressed {
    background-color: var(--color-dark-red);
    box-shadow: inset 0 1px 2px rgba(0,0,0, 0.2);
}


/**
 * Modifier: large buttons
 */

.Button--large {
    font-size: 1.5em;
    padding: 0.75em 1.5em;
}

/**
 * Modifier: small buttons
 */
.Button--small {
    font-size: 0.75em;
    padding: 0.5em 1em;
}