@import "../../styles/theme.css";

/** @define Contact */

.Contact {
  padding: var(--space-small-px) 0;
  width: 100%;
  border-bottom: 1px solid var(--color-gray);
}

.Contact-item {
  margin-left: 2rem;
}

.Contact-item:first-child {
  margin-left: 0;
}

.Contact:last-child {
  border-bottom: none;
}

.Contact-wrapButton {

}
