@import "../../styles/theme.css";

/** @define Header */

.Header {
  color: var(--color-white);
  background-color: var(--color-brand-primary);
  padding: 0.5rem 1rem;
}

.Header-logo {
  width: 200px;
  margin: 1rem 0 0 1rem;
}

.Header-logoImage {
  width: 100%;
  max-width: 100%!important;
}
